<!DOCTYPE html>
<html>
	<head>
		<title>Crud Eventos</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="main.css">
	</head>
	<body>
		<div class="center_nest">
			<h2>Bem vindo à Crud Eventos</h2>
			<h3>Aqui todos os seus sonhos se tornam realidade</h3>
			<div class="btn_nest">
				<a href="cadastro"><div class="btn">cadastrar</div></a>
				<a href="lista"><div class="btn">listar</div></a>
			</div>
		</div>
	</body>
</html>
