<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="${evento.nome}" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="main.css">
	</head>
	<body>
		<div class="center_nest">
			<div id="evento_container">
				<h2>Informações</h2>
				<table>
					<tr>
						<td>Nome:</td>
						<td><span th:text="${evento.nome}" /></td>
					</tr>
					<tr>
						<td>Local:</td>
						<td><span th:text="${evento.local}" /></td>
					</tr>
					<tr>
						<td>Data:</td>
						<td><span th:text="${evento.data}" /></td>
					</tr>
					<tr>
						<td>Horário:</td>
						<td><span th:text="${evento.horario}" /></td>
					</tr>
				</table>
			</div>
			<div id="convidados_container">
				<h2>Convidados</h2>
			</div>
			<div class="btn_nest">
				<a href="/"><div class="btn">início</div></a>
				<a th:href="@{/cadastro/convidado(idEvento=${evento.id})}"><div class="btn">adicionar convidado</div></a>
			</div>
		</div>
</html>

